
<div>
  <h3>Quick Links</h3>
  <ul>Switch to:
    <li><%= link_to 'Customers', customers_path %></li>
    <li><%= link_to 'Addresses', addresses_path %></li>
    <li><%= link_to 'Orders', orders_path %></li>
    <li><%= link_to 'Add a New Customer', new_customer_path %></li>
    <li><%= link_to 'Add a New Address', new_address_path %></li>
    <li><%= link_to 'Add a New Order', new_order_path %></li>
  </ul>
</div>