<!-- SLIDER -->
<div class="row">
</br>
  <div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag 'bread1.jpg' %>
        <div class="caption center-align">
          <h3>Welcome to Bread Express</h3>
          <h5 class="light grey-text text-lighten-3">Delicious baked goods.</h5>
          <%= link_to 'BECOME A CUSTOMER', new_customer_path, :class => 'btn materialize-red lighten-2' %>
          <%= link_to 'MAKE AN ORDER', new_order_path, :class => 'btn materialize-red lighten-5' %>
        </div>
      </li>
      <li>
        <%= image_tag 'pastry2.jpg' %> 
        <div class="caption left-align">
          <h3>Baked fresh every day.</h3>
          <h5 class="light grey-text text-lighten-3">We work hard to deliver quality bread.</h5><br><br>  
          <a class="btn materialize-red lighten-5" href="#">About Us</a>
        </div>
      </li>
      <li>
        <%= image_tag 'bread3.jpg' %>
        <div class="caption right-align">
          <h3>We have muffins.</h3>
          <h5 class="light grey-text text-lighten-3">You'll love our muffins.</h5>
          <a class="btn materialize-red lighten-3" href="#">Explore Our Menu</a>
        </div>
      </li>
      <li>
        <%= image_tag 'pastry.jpg' %>
        <div class="caption center-align">
          <h3>Our new pastry products!</h3>
          <h5 class="light grey-text text-lighten-3">A delicious day is just a click away. Order today.</h5>
          <a class="btn materialize-red lighten-1" href="#">Make An Order</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- FILLER CONTENT -->
<div class="row">
  <div class="col s12 m4">
    <div class="card materialize-red lighten-2">
      <div class="card-content white-text">
        <span class="card-title">Food & Nutrition</span>
        <p>Our bakers work each and every day, hand-shaping and scoring the dough to provide our customers freshly baked bread.</p>
      </div>
      <div class="card-action">
        <a href="#">Explore Our Menu</a>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card materialize-red lighten-3">
      <div class="card-content white-text">
        <span class="card-title">News & Events</span>
        <p>Exciting things happen every day at Bread Express, whether it's improving a recipe or creating a new product.</p>
      </div>
      <div class="card-action">
        <a href="#">See What's New</a>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card materialize-red lighten-5">
      <div class="card-content white-text">
        <span class="card-title">Stories & Recipes</span>
        <p>From picking the right produce to how we bake our breads, these are the stories that define our commitment to the craft.</p>
      </div>
      <div class="card-action">
        <a href="#">Learn More</a>
      </div>
    </div>
  </div>
    
</div>

