<% if @customers.empty? %>
 <h4>No active customers at this time</h4>
 
<% else %>
<h3 class="materialize-red-text text-lighten-1"> Customers </h3>

<h5>Listing Active Customers</h5>
<table class="hoverable">
  <thead>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </thead>
<!--Show active customers-->
<% @active_customers.each do |customer| %>
  <tr>
    <td><%= link_to customer.name, customer_path(customer) %></td>
    <td><%= number_to_phone(customer.phone) %></td>
    <td><%= customer.email %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer), :class => 'btn materialize-red lighten-5' %></td>
    <td><%= link_to 'Destroy', customer, data: { confirm: 'Are you sure?' }, :class => 'btn materialize-red lighten-3',  method: :delete %></td>
  </tr>
<% end %>
</table>

<!--Show inactive customers-->
<% if @inactive_customers.empty? == false %>
<table class="hoverable">
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>
<h5>Inactive Customers</h5>
<% @inactive_customers.each do |customer| %>
  <tr>
    <td><%= link_to customer.name, customer_path(customer) %></td>
    <td><%= number_to_phone(customer.phone) %></td>
    <td><%= customer.email %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer), :class => 'btn materialize-red lighten-2' %></td>
    <td><%= link_to 'Destroy', customer, data: { confirm: 'Are you sure?' }, :class => 'btn materialize-red lighten-2', method: :delete %></td>
  </tr>
<% end %>
<% end %>
</table>
<br />
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @customers, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<br />
<% end %>
<%= link_to 'New Customer', new_customer_path, :class => 'btn materialize-red lighten-2' %>

