<table>
  <tr>
    <td>
      <%= render partial: "customer_data" %>
      <p>A Bread Express customer since 2015</p>
    </td>
    <td>
      <% if @current_orders.empty? == false %>
        <%= render partial: "current_orders" %>
      <% end %>
    </td>
  </tr>
</table>
<p>&nbsp;
  <%= link_to "Edit", edit_customer_path(@customer) %> |
  <%= link_to "Destroy", @customer, method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' } %> |
  <%= link_to "View All", customers_path %>
</p>

