
<div class="col s12">
<%= simple_form_for(@order, html: { class: 'form-horizontal' }) do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Order</legend>
      <div class="row">
        <div class="input-field col s6">
          <%= f.association :customer, collection: Customer.active.to_a %>
        </div>
        <div class="input-field col s6">
          <%= f.association :address, collection: Address.active.to_a, label_method: :name %>
        </div>
      </div>
      <div class="row">
        <div class="col s7">
          <table>
            <thead>Items in your shopping cart:</thead>
              <tr><td>1 loaf of Honey Wheat</td></tr>
              <tr><td>1 loaf of Cinammon Swirl</td></tr>
              <tr><td>1 loaf of Sourdough Bread</td></tr>
              <tr><td>1 dozen Blueberry Muffins</td></tr>
          </table>
        </div>
        <div class="input-field col s4">
          <%= f.input :grand_total, label: 'Enter the amount to pay' %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.submit nil, class: 'btn' %>
        <%= link_to 'Cancel', orders_path, :class => 'btn deep-orange lighten-3' %>
      </div>
      <%= link_to 'Back', orders_path %>
    </fieldset>
  <% end %>
</div>
