<h3> Order Details</h3>
<h5>Customer: <%= @order.customer.name %></h5><br>
<p>Thanks for being a Bread Express customer since 2015.</p>
<h5>Recipient: <%= @order.address.recipient %><br><br />
<h4>Order History</h4>
<%= render partial: "order_data" %>


<p>&nbsp;
  <%= link_to "Edit", edit_order_path(@order) %> |
  <%= link_to "Destroy", @order, method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' } %> |
  <%= link_to "View All", orders_path %>
</p>


