<% if @addresses.empty? %>
 <h4>There are no active addresses at this time.</h4>
<% else %>
<h3 class="materialize-red-text text-lighten-1">Addresses</h3>

<!--Listing active addresses -->
<h4>Active Addresses</h4>
<table class="hoverable">
  <thead>
    <th>Customer</th>
    <th>Recipient</th>
    <th>Address</th>
    <th>Billing?</th>
  </thead>
  <% for address in @active_addresses %>
    <tr>
      <td><%= link_to(address.customer.proper_name, customer_path(address.customer)) %></td>
      <td><%= address.recipient %></td>
      <td><%= address.street_1 %>
          <% unless address.street_2 == nil %>
            <br><%= address.street_2 %>
          <% end %>
          <br><%= address.city %>, <%= address.state %> <%= address.zip %>
      </td>
      <td><% unless address.is_billing == true %>
            <%= "No" %>
          <% else %>
            <%= "Yes" %>
          <% end %>
      </td>
		  <td><%= link_to 'Edit' , edit_address_path(address), :class => 'btn materialize-red lighten-5' %></td>
		  <td><%= link_to 'Destroy', address, data: { confirm: 'Are you sure?' }, :class => 'btn materialize-red lighten-3', method: :delete %></td> 
    </tr>
  <% end %>
</table>
<!--Listing inactive addresses -->
<br><h4>Inactive Addresses</h4><br />
<table class="hoverable">
  <thead>
    <th>Customer</th>
    <th>Recipient</th>
    <th>Address</th>
    <th>Billing?</th>
  </thead>
  <% for address in @inactive_addresses %>
    <tr>
      <td><%= link_to(address.customer.proper_name, customer_path(address.customer)) %></td>
      <td><%= address.recipient %></td>
      <td><%= address.street_1 %>
          <% unless address.street_2 == nil %>
            <br><%= address.street_2 %>
          <% end %>
          <br><%= address.city %>, <%= address.state %> <%= address.zip %>
      </td>
      <td><% unless address.is_billing == true %>
            <%= "No" %>
          <% else %>
            <%= "Yes" %>
          <% end %>
      </td>
      <td><%= link_to 'Edit' , edit_address_path(address), :class => 'btn materialize-red lighten-5' %></td>
      <td><%= link_to 'Delete', address, data: { confirm: 'Are you sure?' }, :class => 'btn materialize-red lighten-3', method: :delete %></td> 
    </tr>
  <% end %>
</table>
<p class="supertiny"></p>

<!-- Add the pagination using will_paginate gem -->
<span class="smtext">
<%= will_paginate @addresses, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
</span>
<% end %>
<p><strong><%= link_to "Add A New Address", new_address_path %></strong></p>
